
  <%- include("partials/_header") %>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      
      <form action="/students" method="post" id="myForm"  >
        
        <div class="formbold-input-group">
          <div class="ptitle"> Personal Details</div>
          
          <label for="firsname">First Name</label><br>
          <div class="form-group">
          <img src="./assets/images/firstname.png" alt="User">
          <input type="text" id="firsname" class='formbold-form-input' name="firstname" placeholder="first Name" required><br>
          </div>
          
            
          <label for="lastname">Last Name</label><br>
          <div class="form-group">
            <img src="./assets/images/lastname.png" alt="User">
           <input type="text" class='formbold-form-input' id="lastname" name="lastname" placeholder="last Name" required><br>
          </div >
           <label for="dob"> Date of Birth</label><br>
           <div class="form-group">
           <img src="./assets/images/birth.png" alt="User">
           <input id="dob" type="date" name="dob" required="required"><br>
          </div >
         <label for="prejhs">  Previous JHS</label><br>
         <div class="form-group">
         <img src="./assets/images/school.png" alt="User">
     <input id="prejhs" type="text" name="prejhs"required="required"><br>
    </div >
     <label for="grade">  BECE Grade</label><br>
     <div class="form-group">
      <img src="./assets/images/becegrade.png" alt="User">
      <select class="formbold-form-select" name="grade" id="grade" required="required">
          <option value="--"></option>
          <option value="06">06</option> <option value="07">07</option> <option value="08">08</option> <option value="09">09</option><option value="10">10</option>
          <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option>
          <option value="15">15</option> <option value="16">16</option> <option value="17">17</option> <option value="18">18</option>
          <option value="19">19</option> <option value="20">20</option> <option value="21">21</option> <option value="22">22</option>
          <option value="23">24</option> <option value="25">25</option> <option value="26">26</option> <option value="27">27</option>
          <option value="28">28</option> <option value="29">29</option> <option value="30">30</option> <option value="31">31</option>
           <option value="others">others</option>
      </select>
     </div>
        <label for="program">  Program Offered</label><br>
        <div class="form-group">
        <img src="./assets/images/course.png" alt="User">
       <select class="formbold-form-select" name="program" id="program" required="required">
            <option> </option>
    <option General Arts>General Arts</option><option value="General Science">General Science</option><option value="Bussiness">Bussiness</option><option Visaula Art>Visual Arts</option>
    <option value="Home Economics">Home Economics</option><option value="others">Others</option>
        </select><br>
      </div >
      </div>
         <div class="parentDetail ">
            <div class="gtitle"> Guardian Details</div>
            <label for="mothername"> Mother's Full Name</label><br>
            <div class="form-group">
            <img src="./assets/images/person.png" alt="User">
           <input id="mothername" name="mothername" type="text" > <br> 
          </div >
           <label for="contact">Mother's Phone Number</label><br>
           <div class="form-group">
           <img src="./assets/images/phone-call.png" alt="User">
           <input id="contact" name="motherContact" type="tel" > <br> 
          </div >
           <label for="contact">Mother's WhatsApp Number</label><br>
           <div class="form-group">
           <img src="./assets/images/whatsapp.png" alt="User">
           <input id="contact" name="motherWhatsApp" type="tel" > <br> 
          </div >
           <label for="fathername">Father's Full Name</label><br>
           <div class="form-group">
           <img src="./assets/images/user-beard.png" alt="User">
            <input id="fathername" type="text" name="fathername" > <br>
          </div >
            <label for="fathercontact">Father's Phone Number</label><br>
            <div class="form-group">
            <img src="./assets/images/phone-call.png" alt="User">
            <input type="tel" name="fatherContact" id="fathercontact" >
          </div >
            <label for="fathercontact">Father's WhatsApp Number</label><br>
            <div class="form-group">
            <img src="./assets/images/whatsapp.png" alt="User">
            <input type="tel" name="fatherWhatsApp" id="fathercontact" >
          </div >
      </div >  <br>
  
        <button  type='submit' class="formbold-btn" >Submit</button>
      </form>
    </div>
  </div>
 <!-- Modal for toast messages -->
 <div id="toastModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="toastMessage"></p>
  </div>
</div>
<%- include("partials/_footer") %>
<!-- <script>
  // document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('myForm');
    const toastModal = document.getElementById('toastModal');
    const toastMessage = document.getElementById('toastMessage');
    const closeBtn = document.querySelector('.close');
  
    document.getElementById('myForm').addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const formData = new FormData(form);
      const firstname = formData.get('firstname');
      const lastname = formData.get('lastname');
      const dob = formData.get('dob');
  
      const response = await fetch('/save', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ firstname, lastname,dob })
      });
  
      const data = await response.json();
  
      if (response.ok) {
        showToast(data.message);
      } else {
        
        showToastError(data.message);
      }
    });
    // Function to display success or info toast
    function showToast(message) {
      toastModal.style.display = 'block';
      toastMessage.textContent = message;
  
      closeBtn.onclick = function() {
        toastModal.style.display = 'none';
      }
      setTimeout(() => {
        toastModal.style.display = 'none';
      }, 3000);
    }
    // Function to display error toast
    function showToastError(message) {
      toastModal.style.backgroundColor = '#ffcccc'; // Change background color for error
      showToast(message);
    }
  // }); --> 
  
